<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mcp_LlamaMcp::chat" title="Claude MCP Chat" sortOrder="10">
                    <resource id="Mcp_LlamaMcp::mcp_chat" title="Chat" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>